streamlit==1.41.0
supabase==2.8.1
google-auth==2.36.1
google-auth-oauthlib==2.0.0
google-auth-httplib2==0.2.0
pillow==11.0.0
python-dotenv==1.0.1
loops==0.1.5
icalendar==5.1.0
fastapi==0.115.0
uvicorn==0.32.1
